body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: #161032;
    color: white;
  }
  
  main {
    border: 1px solid white;
    text-align: center;
    height: 100%;
  }

  h2{
    font-size:55px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
  }

  input{
    padding: 2rem;
    font-size:15px;
    margin-top: 2.5rem;
  }
  
  p {
    padding: 2rem;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  
  button{
    padding:1rem 2rem;
    font-size: 15px;
    margin-top: 2.5rem;
    background-color:whitesmoke;
    color: #161032;
    border: none;
    outline: none;
  }